<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- For console -->
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%thread] [%logger] %msg %n</Pattern>
        </encoder>
    </appender>

    <!-- Console only for all job profiles -->
    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>
