<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5level] [%thread] [%logger] %msg %n</Pattern>
        </encoder>
    </appender>

    <logger name="com.coder4" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="ConsoleAppender"/>
    </root>

</configuration>